@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="~/css/site.css" type="text/css" />
<div class="text-end">
    <button type="button" title="Click to Filter Search" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#advance_search" aria-expanded="false" aria-controls="advance_search" style="margin-top:0.8rem">Advance Search</button>
</div>
<div class="collapse" id="advance_search" style="margin-top:0.5rem; margin-bottom:1.5rem;">
  <div class="card card-body">
  Search Options Coming Soon
  </div>
</div>
<div class="list">
    
</div>
<div class="ordercard">
    <h1>Order Details</h1>
    <ul class="listCard">
    </ul>
    <div class="checkOut">
        <div class="total">0</div>
        <div class="closeShopping">Close</div>
    </div>
</div>


