html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#pizzas-list {
    list-style-type: none;
}

#pizza-box {
    border: solid;
    border-block-color: black;
}

body {
    background: gray;

}
.price{
    margin-bottom:0rem;
}
.custom {
    height: 300px;
    width: 300px;
}
.pizza-description {
    font-weight: bold;
}
.containercart{
    width:1000px;
    margin:auto;
    transition:0.5s;
}
header .shopping{
    position:relative;
    text-align:right;
}
header .shopping img{
   width:40px;
}

header .shopping span {
    background: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 3px 10px;
}
.list{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    column-gap:20px;
    row-gap:20px;
    margin-top:50px;
}
.list .item{
    text-align:center;
    background-color:#DCE0E1;
    padding:20px;
    box-shadow:0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width:90%;
}
.list.item.title{
    font-weight:600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color:#1C1F25;
    color:#fff;
    width:100%;
    padding:10px;
}
.ordercard{
    position:fixed;
    top:0;
    left:100%;
    width:500px;
    background-color:#453E3B;
    height:100vh;
    transition:0.5s;
}
.active .ordercard{
    left: calc(100% - 500px);
}
.active .containercart {
    transform:rotateX(-200px);
}
.ordercard h1{
    color:#E8BC0E;
    font-weight:100;
    margin:0;
    padding:0 20px;
    height:80px;
    display:flex;
    align-items:center;
}
.ordercard .checkOut{
    position:absolute;
    bottom:0%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}
.ordercard .checkOut div{
    background-color:#E88C0E;
    width:100%;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    cursor:pointer;
}
.ordercard .checkOut div:nth-child(2){
    background-color:#1C1F25;
    color:#fff;
}
.listCard li{
    display:grid;
    grid-template-columns: 100px repeat(3,1fr);
    color:#fff;
    row-gap:10px;
}
.listCard li div{
    display:flex;
    justify-content:center;
    align-items:center;
}
.listCard li img{
    width:90%;
}
.listCard li button{
    background-color:#fff5;
    border:none;
}
.listCard .count{
    margin:0 10px;
}